* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    color: #fff;
    background: #000;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background-color: #fff;
    position: fixed; /* Fixer le menu en haut */
    width: 100%; /* S'assurer que le header prend toute la largeur */
    top: 0;
    z-index: 10; /* Mettre le header au-dessus des autres éléments */
}

header .logo {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-right: 500px; /* Décale le logo vers la gauche */
}

header nav {
    flex-grow: 1;
    display: flex;
    justify-content: center; /* Centre les liens de navigation */
}

header ul {
    list-style: none;
    display: flex;
    gap: 20px; /* Espacement entre les liens */
    align-items: center;
    margin: 0;
    padding: 0;
}

header ul li {
    list-style: none;
}

header ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 5px;
    transition: border 0.3s, background-color 0.3s, color 0.3s;
}

/* Style spécifique pour l'onglet actif "Accueil" */
header ul li a.active {
    color: #333;
    border: 2px solid #ff5722;
}

/* Effet de survol pour les autres liens */
header ul li a:hover {
    background-color: #ff5722;
    color: #fff;
}

.hero {
    height: 100vh;
    background-image: url('background.jpg'); /* Remplacer avec l'image de fond */
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: -0px; /* Ajuste pour enlever l'espace noir sous le header */
    position: relative;
}

/* Filtre sombre pour l'image de fond */
.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); /* Filtre sombre : ajuste l'opacité pour l'intensité souhaitée */
    z-index: 1;
}

.hero-content {
    position: relative;
    z-index: 2; /* Pour que le contenu soit au-dessus du filtre sombre */
}

.hero-content h1 {
    font-size: 40px;
    margin-bottom: 20px;
}

.hero-content h2 {
    font-size: 60px;
    color: #ff5722;
}

.hero-content p {
    font-size: 18px;
    margin-bottom: 30px;
}

.cta-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #fff;
    color: #333;
    font-weight: bold;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.cta-button:hover {
    background-color: #ff5722;
    color: #fff;
}
